<!-- shop.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Shops</title>
    <link rel="stylesheet" href="shop.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/reservation">Add a Car</a>
        <a href="/car">Cars</a>
        <a href="/shop">Our Shops</a>
    </nav>

    <section id="shopList">
        <h2>Our Rental Shops</h2>
        <ul>
            <li>
                <img src="https://via.placeholder.com/150" alt="Shop 1 Image">
                <div class="shop-info">
                    <h3>İstanbul</h3>
                    <p>Location: Ataköy, Yaşar Alışveriş Merkezi, Londra Asfaltı Kuleli Mevki Kat:-2, Bebek/İstanbul</p>
                    <p>Phone: +90 555 123 45 67</p>
                </div>
            </li>
            <li>
                <img src="https://via.placeholder.com/150" alt="Shop 2 Image">
                <div class="shop-info">
                    <h3>Ankara</h3>
                    <p>Location: Ekrenler, Şehit Cevdet Özdemir Mah, Ata Cd. No:77/B, 06460 Çankaya/Ankara</p>
                    <p>Phone: +90 555 234 56 78</p>
                </div>
            </li>
            <li>
                <img src="https://via.placeholder.com/150" alt="Shop 3 Image">
                <div class="shop-info">
                    <h3>İzmir</h3>
                    <p>Location: Kazımdirik Mahallesi, Selçuk Yaşar Kampüsü, Üniversite Caddesi Ağaçlı Yol No: 37-39, 35100 Bornova/İzmir</p>
                    <p>Phone: +90 555 345 67 89</p>
                </div>
            </li>
            <!-- Diğer bayileri buraya ekleyin -->
        </ul>
    </section>

    <footer>
        <p>&copy; Ata Ekren Car Rental System</p>
    </footer>

    <script src="../js/main.js"></script>
    <script src="../routes/shop.js"></script>
</body>

</html>
