body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

nav {
    display: flex;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

#hero-section {
    background-color: #eee;
    padding: 2em;
    text-align: center;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero-content h2 {
    color: #333;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #555;
}

#carList {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
}

li img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
